- content_for :javascripts do
  = javascript_include_tag 'dashboard/total'

%h4 Total

.row
  .col-lg-6.ctext
    .table-box
      .table-scroll
        %table.table.table-fixed
          %thead
            %tr
              %th.col-sm-9.text-center Data
              %th.col-sm-3.text-center Value
          %tbody.scroll-pane
            %tr
              %td.col-sm-8 Inventory Value
              %td.col-sm-4.text-center= format_currency @total_inventory_data&.cost_remain
            %tr
              %td.col-sm-8 Average ROI
              %td.col-sm-4.text-center= format_decimal @total_inventory_data&.roi, percentages: true
            %tr
              %td.col-sm-8 Sell Through Rate
              %td.col-sm-4.text-center= format_decimal @total_inventory_data&.sell_through, percentages: true
            %tr
              %td.col-sm-8 TVMInventory Age
              %td.col-sm-4.text-center N/A
            %tr
              %td.col-sm-8 Not in Buy Box
              %td.col-sm-4.text-center N/A
            %tr
              %td.col-sm-8 Return Rate
              %td.col-sm-4.text-center N/A
            %tr
              %td.col-sm-8 Average Amazon Payout %
              %td.col-sm-4.text-center N/A
            %tr
              %td.col-sm-8 Inventory Turnover
              %td.col-sm-4.text-center
                = "Sales #{format_decimal @total_transactions_data&.sales_turnover},"
                = "COGS #{format_decimal @total_inventory_data&.cogs_turnover}"
            %tr
              %td.col-sm-8 Monthly Inventory Growth Rate
              %td.col-sm-4.text-center= format_decimal @total_inventory_data&.monthly_growth_rate
            %tr
              %td.col-sm-8 Monthly Payouts / Inventory Purchase Buget
              %td.col-sm-4.text-center N/A
  .col-lg-6.ctext
    %h3.text-center ROI & Sell Through Over Age
    = high_chart('roi_and_sell_through', @roi_and_sell_through_chart)
    %h3.text-center Sales & Inv Turnover Over Time
    = high_chart('sales_and_inv', @sales_and_inv_chart)
