%h4 Received Inventory
.content-box
  .test
    %table.table.table-fixed.simple
      %thead
        %tr
          %th Received Date
          %th FNSKU
          %th SKU
          %th Product Name
          %th Quantity
          %th FBA Shipment Id
      %tbody.scroll-pane
      - @received_inventories.each do |inventory|
        %tr
          %td= format_datetime(inventory.received_date)
          %td= inventory.fnsku
          %td= inventory.sku
          %td= inventory.product_name
          %td= inventory.quantity
          %td= inventory.fba_shipment_id

    = paginate @received_inventories
