%ul
- @inventory_data_uploads.each do |file|
  %li
    - if file.finished_at
      .alert.alert-success
        = file.file_for_import_file_name
        %strong= file.status
        = timeago(file.finished_at)
    - elsif (file.status.blank? || file.status == 'in progress') && file.finished_at.blank?
      .alert.alert-info
        = file.file_for_import_file_name
        %strong= file.status ||= 'will be proceed in few minutes'
        = timeago(file.finished_at)
    - else
      .alert.alert-danger
        = file.file_for_import_file_name
        %strong= file.status
        = timeago(file.finished_at)

= javascript_include_tag 'time'
