%h1= t '.title'

%table.table
  %thead
    %tr
      %th= t '.shipment_id'
      %th= t '.external_date_created'
      %th= t '.price'
      %th= t '.units_count'
      %th= t '.units_sold_count'
      %th= t '.total_revenue'

  %tbody
    - @fulfillment_inbound_shipments.each do |fulfillment_inbound_shipment|
      %tr
        %td= fulfillment_inbound_shipment.shipment_id
        %td= fulfillment_inbound_shipment.external_date_created
        %td= fulfillment_inbound_shipment.price
        %td 100
        %td 78
        %td 10,553

= paginate @fulfillment_inbound_shipments
