= link_to accounts_path, class: 'back pull-right' do
  Back
  %i.fa.fa-chevron-right
%h4 Add shop
= render 'shared/error_messages', object: @account
#cb1.content-box
  .form
    .form-group.checkbox-group
      %label.i-checkbox
        %input{ 'data-content': 'cb1', type: 'checkbox' }
        Add to your shop
    .content-inner
      = simple_form_for @account, url: accounts_path, method: :post do |f|
        .row
          .col-sm-4.col-lg-2.pull-right.btn-group-position
            = f.submit 'Add', class: 'btn btn-lg btn-primary'
          .col-sm-4.col-lg-5
            .form-group
              = f.input :seller_id, label: 'Seller ID', required: false, input_html: { class: 'input-lg' }
          = f.simple_fields_for :marketplace do |m|
            .col-sm-4.col-lg-5
              .form-group
                = m.input :external_marketplace_id, label: 'Marketplace ID', required: false, input_html: { class: 'input-lg' }
        = f.simple_fields_for :marketplace do |m|
          .row
            .col-sm-4.col-lg-5
              .form-group
                = m.input :aws_access_key_id, label: 'AWS Access Key ID', required: false, input_html: { class: 'input-lg' }
            .col-sm-4.col-lg-5
              .form-group
                = m.input :secret_key, label: 'Secret Key', required: false, input_html: { class: 'input-lg' }

#cb2.content-box.disable
  .form
    .form-group
      %label.pull-left.i-checkbox
        %input{ 'data-content': 'cb2', type: 'checkbox' }
        Add to other shop
    .content-inner
      = simple_form_for @account, url: accounts_path, method: :post do |f|
        .row
          .col-sm-4.col-lg-2.pull-right.btn-group-position
            = f.submit 'Add', class: 'btn btn-lg btn-primary'

          .col-sm-4.col-lg-5
            .form-group
              = f.input :seller_id, label: 'Seller ID', required: false, input_html: { class: 'input-lg' }
          .col-sm-4.col-lg-5
            .form-group
              = f.input :mws_auth_token, label: 'MWS Auth Token', required: false, input_html: { class: 'input-lg' }
        .row
          = f.simple_fields_for :marketplace do |m|
            .col-sm-4.col-lg-5
              .form-group
                = m.input :aws_access_key_id, label: 'AWS Access Key ID', required: false, input_html: { class: 'input-lg' }
            .col-sm-4.col-lg-5
              .form-group
                = m.input :secret_key, label: 'Secret Key', required: false, input_html: { class: 'input-lg' }
        .row
          = f.simple_fields_for :marketplace do |m|
            .col-sm-4.col-lg-5
              .form-group
                = m.input :external_marketplace_id, label: 'Marketplace ID', required: false, input_html: { class: 'input-lg' }
